
/*Document Wide Rules*/
.clearfix:before,
.clearfix:after{
  content:"";
  display: table;
  clear: both;
}

.container{
margin: 0 auto;
max-width: 1160px;
}


a{
  color:white;
  outline:none;
}

a:hover, a:focus{
  cursor:pointer;
  color:#e2574c;
}

p{font-family: 'raleway'}

h2{
  font-family: 'playfair';
}

h1{
  display:none;
}

h2{
  font-size: 34px;
  font-style: italic;
}



.bold{
font-style: normal;
font-weight: bold;
}

/*HEADER  #####################################*/

header{
  /*height:50px;*/
  padding: 12px;
  /*margin: 0 auto;*/
}

.alohaLogo{
  float:left;
  width:120px;
}

.cartLogo{
  float:right;
  width: 50px;
}


/*HERO  ######################################*/

.hero{
  text-align:center;
  clear:both;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
  url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) center top;
  background-size: cover, 151px 370px, cover;
  height:400px;
  padding: 0 30px;
  color:white;
}

.collection{
  font-family: 'raleway';
  font-weight: bold;
  font-size: 18px;
  padding-top: 140px;
}

.spring{
  font-family: 'playfair';
  font-size: 35px;
  margin: 30px auto 0 auto;
  text-shadow: 2px 2px 4px #969696;
  max-width:670px;
}


/*SECOND HERO ################################*/

.secondHero{
  text-align:center;
  /*position: relative;*/
  padding: 48px 20px;
}



.secondHero p{
  font-size: 16px;
  margin-top: 22px;
  line-height: 200%;
}


.updates p{
  color:white;
}



hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d7d7d7;
    margin: 1em 0;
    padding: 0;
}


/* PRODUCT LIST #######################################*/

.productList{
  text-align:center;
  padding: 40px 0px;
  margin-bottom: 32px;
}

.productList ul{
  list-style:none;
  margin: 0 auto;
  /*margin-bottom: 70px;*/
}


.productList li{
  /*width: 80%;*/
  margin: 0 auto;
}


.productImage{
  margin-top: 42px;
  /*width:95%;*/
  /*max-width: 100%;*/
  /*height: auto;*/
}

.productCategory{
  font-weight: bold;
  font-size: 11px;
  color:#969696;
  /*margin-top: 14px;*/
}

h3{
  font-size: 24px;
  color:#e2574c;
  margin-top: 15px;


    margin: 20px auto 0 auto;
    max-width: 70%;
}

.productPrice{
  font-size: 14px;
  font-weight: bold;
  color:#969696;
  margin-top: 15px;
}


/* UPDATES #########################################*/

.updates{
  clear:both;
  text-align:center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),url(../images/wave-bkgd.jpg) no-repeat center bottom;
  margin-bottom:10px;
  padding: 55px 5px;
}

.updates h2{
  color:white;
  text-shadow: 3px 3px 5px #969696;
}

.updates p{
  font-size: 16px;
  margin-top: 20px;
  line-height: 200%;
  margin-bottom:28px;
  max-width:670px;
}


form{
  border-radius: 30px;
  height:44px;
  width:90%;
  margin:0 auto;
  background-color: white;
}

input{
    height:90%;
    width:50%;
    border: none;
    outline: none;
    background: transparent;
    float:left;
    margin-left: 30px;
    font-family: raleway;
    font-size: 14px;
    color:#969696;
    outline:none;
}

input:focus{
  color:black;
}


button{
  background-color:#e2574c;
  border:none;
  height:85%;
  border-radius:25px;
  font-family: raleway;
  font-weight: bold;
  font-size: 14px;
  color:white;
  padding: 0 20px;
  margin: 4px 5px 0 0;
  float:right;
  outline:none;
}

button:hover, button:focus{
  background-color: #b64036;
  cursor:pointer;
}


/*FOOTER ##############################################*/

footer{
  background-color:#242424;
  /*padding-bottom: 50px;*/
  padding: 60px 0;
}

footer p{
  font-family: 'playfair';
  font-size: 14px;
  line-height: 150%;
}


.year{
  color:white;
  margin-bottom: 15px;
  line-height: 125%;
  /*margin-top: 50px;*/
}

.phoneEmail{
  color:white;
  margin-bottom: 15px;
}

.address{
  /*margin-top: 20px;*/
  color:#969696;
}

.contactInfo{
  text-align:center;
}

.socialList{
margin-top: 30px;
text-align: center;
}

.socialIcon{
  color:white;
  display:inline;
  margin: 0px 6px 0px 6px;
  font-size: 14px;
}

.socialIcon:hover, .socialIcon:focus{
  color: #e2574c;
  cursor:pointer;
}

.socialName{
  display:none;
  font-family: raleway;
  font-weight:normal;
}





/*###########################################################################################################
###########################################################################################################
###########################################################################################################
###########################################################################################################
*/


@media screen and (min-width: 600px) {

/*HEADER ###########################################*/

  header{
    /*height:50px;*/
    padding: 20px 30px;
    /*margin: 0 auto;*/
  }

  .alohaLogo{
    float:left;
    width:140px;
  }

  .cartLogo{
    float:right;
    width: 55px;
  }

  /*HERO ############################################*/


  .collection{
    font-size: 22px;
    padding-top: 150px;
  }

  .spring{
    font-size: 50px;
    margin-top: 25px;
  }

  /*SECOND HERO #####################################*/

  h2{
    font-size: 38px;
  }

  .secondHero{
    padding: 54px 20px;
  }

  .secondHero p{
    font-size: 19px;
    margin: 22px auto 0px auto;
    max-width:650px;
  }

  /* PRODUCT LIST #######################################*/

  .productList{
    margin-bottom: 90px;
  }

  .productList li{
    float:left;
    width: 50%;
  }

  .productImage{
    margin-top: 42px;
    width:80%;
    max-width: 320px;
  }

  .productCategory{
    font-size: 12px;
    margin-top: 20px;
  }

  h3{
    font-size: 26px;
    margin-top: 20px;
  }

  .productPrice{
    font-size: 16px;
    margin-top: 20px;
  }

/*UPATES ##########################################*/

.updates{
  clear:both;
  text-align:center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),url(../images/wave-bkgd.jpg) no-repeat center bottom;
  margin-bottom:10px;
  padding: 65px 5px;
}

.updates p{
  /**/
  font-size: 18px;
  margin: 25px auto;
}


form{
  height:50px;
  width:70%;
  max-width: 460px;
}

input{
  font-size: 16px;
}

button{
  font-size: 16px;
}

/*FOOTER ##########################################*/

footer{
  padding: 60px 30px;
}
footer p{
  font-size: 16px;
}

.socialList{
  text-align: left;
  margin-top: 0px;
}

.socialIcon{
  display:block;
  font-size: 16px;
}

.socialName{
  display:inline-block;
  font-size: 16px;
}

.socialList li{
  display: block;
  margin-bottom: 14px;
}

.socialList i{
  min-width: 25px;
  margin-right: 5px;
}

.socialList{
  float:right;
  display:block;
}

.contactInfo{
  float:left;
  text-align:left;
}


}


@media screen and (min-width: 1240px) {

  /*HEADER ###########################################*/

    header{
      /*height:50px;*/
      padding: 16px 30px;
      /*margin: 0 auto;*/
    }

    .alohaLogo{
      float:left;
      width:160px;
    }

    .cartLogo{
      float:right;
      width: 65px;
    }


    /*HERO  ##########################################*/


    .hero{
      background:
      linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) center top;
      background-size: cover, 250px 615px, contain;
      padding: 75px 0px;
    }


      .collection{
        font-size: 22px;
        padding-top: 150px;
      }

      .spring{
        font-size: 66px;
        margin-top: 25px;
      }

      /*SECOND HERO #####################################*/

      h2{
        font-size: 38px;
      }

      .secondHero{
        padding: 54px 20px;
        text-align: center;;
      }

      .secondHero p{
        font-size: 19px;
        margin: 24px auto 0px auto;
        max-width:650px;
      }

      /* PRODUCT LIST #######################################*/

      .productList{
        margin-bottom: 54px;
      }

      .productList ul{
        max-width:1240px;
      }
      .productList li{
        float:left;
        width: 25%;
      }

      .productImage{
        margin-top: 42px;
        width:80%;
        max-width: 260px;
      }

      .productCategory{
        font-size: 12px;
        margin-top: 12px;
      }

      h3{
        font-size: 26®px;
        margin-top: 20px;
      }

      .productPrice{
        font-size: 16px;
        margin-top: 20px;
      }

      .updates{
        clear:both;
        text-align:center;
        background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),url(../images/wave-bkgd.jpg) no-repeat center bottom;
        margin-bottom:10px;
        padding: 65px 5px;
      }

      .updates p{
        /**/
        font-size: 18px;
        max-width:670px;
        margin: 25px auto;

      }


      form{
        height:50px;
        width:70%;
        max-width: 460px;
      }

      button{
        font-size: 16px;
      }

      /*FOOTER ##########################################*/

      footer{
        padding: 65px 120px 65px 70px;
      }
      footer p{
        font-size: 16px;
      }


}
