
/*Document Wide Rules*/
.clearfix:before,
.clearfix:after{
  content:"";
  display: table;
  clear: both;
}

.container{
margin: 0 auto;
}


a{
  color:white;
  outline:none;
}

a:hover, a:focus{
  cursor:pointer;
  color:#e2574c;
}

p{font-family: 'raleway'}

h2{
  font-family: 'playfair';
}

h1{
  display:none;
}

h2{
  font-size: 34px;
  font-style: italic;
}



.bold{
font-style: normal;
font-weight: bold;
}

/*HEADER  #####################################*/

header{
  height:50px;
  padding: 12px;
  /*margin: 0 auto;*/
}

.alohaLogo{
  float:left;
  width:120px;
}

.cartLogo{
  float:right;
  width: 50px;
}


/*HERO  ######################################*/

.hero{
  text-align:center;
  clear:both;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
  url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) center top;
  background-size: cover, 151px 370px, cover;
  height:400px;
  padding: 0 30px;
  color:white;
}

.collection{
  font-family: 'raleway';
  font-weight: bold;
  font-size: 18px;
  padding-top: 140px;
}

.spring{
  font-family: 'playfair';
  font-size: 35px;
  margin-top: 30px;
  text-shadow: 2px 2px 4px #969696;
}


/*SECOND HERO ################################*/

.secondHero{
  text-align:center;
  /*position: relative;*/
  padding: 48px 20px;
}



.secondHero p{
  font-size: 16px;
  margin-top: 22px;
  line-height: 200%;
}


.updates p{
  color:white;
}



hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d7d7d7;
    margin: 1em 0;
    padding: 0;
}


/* PRODUCT LIST #######################################*/

.productList{
  text-align:center;
  padding: 40px 0px;
  margin-bottom: 32px;
}

.productList ul{
  list-style:none;
  margin: 0 auto;
  /*margin-bottom: 70px;*/
}


.productList li{
  /*width: 80%;*/
  margin: 0 auto;
}


.productImage{
  margin-top: 42px;
  /*width:95%;*/
  /*max-width: 100%;*/
  /*height: auto;*/
}

.productCategory{
  font-weight: bold;
  font-size: 11px;
  color:#969696;
  /*margin-top: 14px;*/
}

h3{
  font-size: 24px;
  color:#e2574c;
  margin-top: 15px;
}

.productPrice{
  font-size: 14px;
  font-weight: bold;
  color:#969696;
  margin-top: 15px;
}


/* UPDATES #########################################*/

.updates{
  clear:both;
  text-align:center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),url(../images/wave-bkgd.jpg) no-repeat center bottom;
  margin-bottom:10px;
  padding: 55px 5px;
}

.updates h2{
  color:white;
  text-shadow: 3px 3px 5px #969696;
}

.updates p{
  font-size: 16px;
  margin-top: 20px;
  line-height: 200%;
  margin-bottom:28px;
}


form{
  border-radius: 30px;
  height:44px;
  width:90%;
  margin:0 auto;
  background-color: white;
}

input{
    height:90%;
    width:50%;
    border: none;
    outline: none;
    background: transparent;
    float:left;
    margin-left: 30px;
    font-family: raleway;
    font-size: 14px;
    color:#969696;
    outline:none;
}

input:focus{
  color:black;
}


button{
  background-color:#e2574c;
  border:none;
  height:85%;
  border-radius:25px;
  font-family: raleway;
  font-weight: bold;
  font-size: 14px;
  color:white;
  padding: 0 20px;
  margin: 4px 5px 0 0;
  float:right;
  outline:none;
}

button:hover, button:focus{
  background-color: #b64036;
  cursor:pointer;
}


/*FOOTER ##############################################*/

footer{
  background-color:#242424;
  /*padding-bottom: 50px;*/
  padding: 60px 0;
}

footer p{
  font-family: 'playfair';
  font-size: 14px;
  line-height: 150%;
}


.year{
  color:white;
  margin-bottom: 15px;
  line-height: 125%;
  /*margin-top: 50px;*/
}

.phoneEmail{
  color:white;
  margin-bottom: 15px;
}

.address{
  /*margin-top: 20px;*/
  color:#969696;
}

.contactInfo{
  text-align:center;
}

.socialList{
margin-top: 30px;
text-align: center;
}

.socialIcon{
  color:white;
  display:inline;
  margin: 0px 6px 0px 6px;
  font-size: 14px;
}

.socialIcon:hover, .socialIcon:focus{
  color: #e2574c;
  cursor:pointer;
}

.socialName{
  display:none;
  font-family: raleway;
  font-weight:normal;
}





/*###########################################################################################################
###########################################################################################################
###########################################################################################################
###########################################################################################################
*/

/*
@media screen and (min-width: 600px) {

h2{
  margin-top: 0px;
}

h3{
  font-size: 30px;
  width:80%;
  margin:25px auto 0;
}

  .spring{
    font-size: 55px;
    margin-top: 30px;
  }

  .hero{
    background-size: cover, 156px 378px, cover;
    height:450px;
  }

  .collection{
    padding-top: 26%;
  }

  .secondHero p, .updates p{
  }

  .productList{
    padding: 60px 30px 140px 30px
  }

  .productList h2{
    margin-bottom: 10px;
  }

  .productList li{
    float:left;
    width: 50%;
  }

  .productImage{
  width:80%;
  }

  form{
    border-radius: 30px;
    height:54px;
    width:20%;
    margin:0 auto;
    background-color: white;
  }

      .contactInfo{
        float:left;
        text-align:left;
        padding-left: 10px;
      }

    .socialList{
      margin-top: 65px;
      text-align: left;
      }

    .socialIcon{
      color:white;
      display:block;
      font-size: 18px;
    }

    .socialName{
      display:inline-block;
      margin-left: 5px;
    }

    .socialList li{
      display: block;
      margin-bottom: 20px;
    }

    .socialList i{
      min-width: 25px;
    }

    .socialList{
      float:right;
      display:block;
      padding-right: 10px;
    }


    footer{
      padding-left: 10px;
    }








}

/*
@media screen and (min-width: 1240px) {

  .collection{
    font-family: 'raleway';
    font-weight: bold;
    font-size: 24px;
    padding-top:15%
  }

  .secondHero{
    padding: 0 350px;
  }

  .updates{
      padding: 0 350px;
  }

.container{
margin: 0 auto;
max-width: 1240px;
}

  .productList li{
    width: 25%;
  }

.hero{
  text-align:center;
  clear:both;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
  url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) center top;
  background-size: cover, 250px 615px, contain;
  height:550px;
}

.socialList{
  padding-right: 60px;
}

.contactInfo{
  padding-left: 40px;
}


}
*/
