

.clearfix:before,
.clearfix:after{
  content:"";
  display: table;
  clear: both;
}

/*.verticalCenter{
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 80%;
   height: 20%;
   margin: auto;
}*/

.container{
max-width:600px;
margin: 0 auto;
}

body{
  font-size: 14px;
}

a{
  color:white;
}

p{font-family: 'raleway'}

h2{
  font-family: 'playfair';
}



h1{
  display:none;
}

header{
  height:80px;
  padding-top: 15px;
  margin: 0 auto;
}

.alohaLogo{
  float:left;
  width:160px;
  margin-left:28px
}

.cartLogo{
  float:right;
  width: 62px;
  margin-right: 28px;
}

.hero{
  text-align:center;
  clear:both;
  background:
  linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
  url(../images/banner-girl.png) no-repeat center 85px,url(../images/flower-bkgd.jpg) center top;
  background-size: cover, 189px 463px, cover;
  height:510px;
  /*position: relative;*/
  color:white;
}

.collection{
  font-family: 'raleway';
  font-weight: bold;
  font-size: 24px;
  padding-top: 200px;
}

.spring{
  font-family: 'playfair';
  font-size: 45px;
  margin-top: 30px;
}

.secondHero{
  text-align:center;
  /*position: relative;*/
}

.secondHero p, .updates p{
  font-size: 20px;
  margin-top: 28px;
  line-height: 200%;
  margin-bottom:74px;
}

.updates p{
  color:white;
}

h2{
  font-size: 42px;
  font-style: italic;
  margin-top: 72px;
}

.bold{
font-style: normal;
font-weight: bold;
}

hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d7d7d7;
    margin: 1em 0;
    padding: 0;
}

.productPrice{
  font-size: 18px;
  font-weight: bold;
  color:#969696;
  margin-top: 30px;
}


.productCategory{
  font-weight: bold;
  font-size: 14px;
  color:#969696;
  margin-top: 20px;
}


h3{
  font-size: 26px;
  color:#e2574c;
  margin-top: 30px;
}

.productList{
  text-align:center;
}

.productList ul{
  list-style:none;
  margin: 0 auto;
  margin-bottom: 70px;
}

.productList li{
  width: 80%;
  margin: 0 auto;
}

.productImage{
  margin-top: 42px;
width:95%;
}

img {
    max-width: 100%;
    height: auto;
}

.updates{
  clear:both;
  text-align:center;
  height:344px;
  /*position: relative;*/
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),url(../images/wave-bkgd.jpg) no-repeat center bottom;
  margin-bottom:10px;
}

.updates h2{
  color:white;
  margin-top:70px;
  text-shadow: 2px 2px 8px #969696;
}

.contactInfo{
  text-align:center;
}

.socialList{
margin-top: 40px;
text-align: center;
}

.socialIcon{
  color:white;
  display:inline;
  margin: 0px 6px 0px 6px;
  font-size: 18px;
}

.socialName{
  display:none;
}

.year{
  color:white;
  margin-bottom: 20px;
  line-height: 125%;
  margin-top: 65px;
}

.phoneEmail{
  color:white;
}

.address{
  margin-top: 20px;
  color:#969696;
}

footer{
  height:350px;
  background-color:#242424;
  /*position:relative;*/
}

footer p{
  font-family: 'playfair';
  font-size: 18px;
  line-height: 150%;
}

@media screen and (min-width: 600px) {

  .socialList{
  margin-top: 40px;
  text-align: left;
  }

  .socialIcon{
    color:white;
    display:inline-block;
    margin: 0px 6px 0px 6px;
    font-size: 18px;
  }

  .socialName{
    display:inline-block;
    floar:left;
    clear:right;
  }

  .socialList li{
    float:right;
  }


  footer{
    padding-left: 10px;
  }

  .productImage{
  margin-top: 42px;
  width:80%;
  }

  .productPrice{
    margin-top: 25px;
  }


  .productCategory{
    margin-top: 20px;
  }


  h3{
    margin-top: 25px;
  }

  .hero{
    height:430px;
    background-size: cover, 156px 378px, cover;
  }

  .collection{
    padding-top: 160px;
  }

  .secondHero p, .updates p{
    margin-bottom:54px;
  }


  .contactInfo{
    float:left;
    text-align:left;
  }


  .productList li{
    float:left;
    width: 50%;
  }

  .tabletContainer{
    max-width: 800px;
  }



}

/*
@media screen and (min-width: 1240px) {

  .productList li{
    width: 25%;
  }

  .hero{
    text-align:center;
    clear:both;
    background:
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
    url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) center top;
    background-size: cover, 250px 615px, contain;
    height:550px;
    /*position: relative;*/
  }
/*
  .tabletContainer{
    max-width: 1240px;
  }*/

}
